{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" type="text/css" />
{% endblock %}

{% block main %}
{% include "flash_messages.html" %}
<div class="form-container border-style">
    <h1 id="page-title">Add Profile</h1> 
    <form method = "POST" action="{{ url_for('profile') }}" enctype="multipart/form-data">
        {{form.csrf_token}}
        <div class="containers">
            {{form.firstname.label(class="block")}}
            {{form.firstname(class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.lastname.label(class="block")}}
            {{form.lastname(class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.gender.label(class="block")}}
            {{form.gender(class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.email.label(class="block")}}
            {{form.email(placeholder = "eg. example@example.com", class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.location.label(class="block")}}
            {{form.location(placeholder="eg. Kingston, Jamaica", class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.bio.label(class="block")}}
            {{form.bio(class="field col-md-8")}}
        </div>
        <div class="containers">
            {{form.photo.label(class="block")}}
            {{form.photo(class="field col-md-8")}}
        </div>
        <div class="containers">
            <input type="submit" value="Add Profile" class="btn btn-success"/>
        </div>
    </form>
</div>

{% endblock %}